$black-opacity: rgba(
  $color: #000000,
  $alpha: 0.2,
);

:root {
  // colors
  // --primary-color: #6864ed;
  --primary-color: #4b006e;
  --primary-color-lighter: #eeeefd;
  --warn-color: #eed064;
  --warn-color-lighter: #fdfaef;
  --success-color: #33cc79;
  --success-color-lighter: #ebfaf2;
  --shadow-color: #e8eae2;
  --redish-white: #f7f7f7;
  --black-opacity: $black-opacity;
}
